#countriesPhones {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#countriesPhones td, #countriesPhones th {
    border: 1px solid #ddd;
    padding: 8px;
}

#countriesPhones tr:nth-child(even) {
    background-color: #f2f2f2;
}

#countriesPhones tr:hover {
    background-color: #ddd;
}

#countriesPhones th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#countrySelector, #stateSelector {
    margin-left: 5%;
    margin-right: 5%;
}